.status_1 {
  background: #cfe6f5;
  color: #253b60;
}

.status_2 {
  background: #c8e6c9;
  color: #256029;
}

.status_3 {
  background: #feedaf;
  color: #8a5340;
}

.status_4 {
  background: #ffcdd2;
  color: #c63737;
}

.status_badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}
